{
	admin off
}

{$CADDY_SITE_ADDRESS} {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		-Server
	}

	reverse_proxy api:8080 {
		health_uri /readyz
		lb_try_duration 5s
	}
}
